



.App-header {
  background-color: #1a1a49 !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(248, 247, 247);


font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: x-large;


}
.App-header h1{
  color: rgb(197, 60, 19);
  }
  /* .App-header h2,h3 {
  color: brown;
  font-size: xx-large
  } */